USE [DB_QLCatDaHaiDat]
GO
/****** Object:  StoredProcedure [dbo].[GetOrderList]    Script Date: 2/17/2017 5:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetOrderList]
AS
	SET NOCOUNT ON;
SELECT        INNSER.TEN_KH, T_HOADON.NGAY_LAP, T_HOADON.TONG_TIEN, T_HOADON.TRANG_THAI
FROM            M_KHACHHANG AS INNSER INNER JOIN
                         T_HOADON ON INNSER.MA_KH = T_HOADON.KHACH_HANG
GO
/****** Object:  StoredProcedure [dbo].[InsertQuery]    Script Date: 2/17/2017 5:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertQuery]
(
	@NGAY_LAP datetime,
	@GHI_CHU nvarchar(200),
	@TONG_TIEN float,
	@TRANG_THAI int,
	@KHACH_HANG int
)
AS
	SET NOCOUNT OFF;
INSERT INTO [dbo].[T_HOADON] ([NGAY_LAP], [GHI_CHU], [TONG_TIEN], [TRANG_THAI], [KHACH_HANG]) VALUES (@NGAY_LAP, @GHI_CHU, @TONG_TIEN, @TRANG_THAI, @KHACH_HANG);
	
SELECT MA_HD, NGAY_LAP, GHI_CHU, TONG_TIEN, TRANG_THAI, KHACH_HANG FROM T_HOADON WHERE (MA_HD = SCOPE_IDENTITY());
	Select SCOPE_IDENTITY()
GO
/****** Object:  StoredProcedure [dbo].[SELECTDETAILORDER]    Script Date: 2/17/2017 5:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTDETAILORDER]
(
	@MA_HD int
)
AS
	SET NOCOUNT ON;
SELECT        M_SANPHAM.TEN_SP, M_SANPHAM.DON_VI_TINH, T_CHITIETHOADON.GIA, T_CHITIETHOADON.SO_LUONG
FROM            M_SANPHAM INNER JOIN T_CHITIETHOADON ON MA_SP = SAN_PHAM
WHERE        (T_CHITIETHOADON.HOA_DON = @MA_HD)
GO
/****** Object:  Table [dbo].[M_KHACHHANG]    Script Date: 2/17/2017 5:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_KHACHHANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_KH] [nvarchar](50) NULL,
	[DIA_CHI] [nvarchar](200) NULL,
	[SO_DT] [nvarchar](20) NULL,
	[GHI_CHU] [nvarchar](500) NULL,
	[TRANG_THAI] [int] NULL,
 CONSTRAINT [PK_M_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[M_SANPHAM]    Script Date: 2/17/2017 5:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_SANPHAM](
	[MA_SP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_SP] [nvarchar](100) NULL,
	[GIA_SP] [float] NULL,
	[DON_VI_TINH] [nvarchar](20) NULL,
	[GHI_CHU] [nvarchar](200) NULL,
	[TRANG_THAI] [int] NULL,
 CONSTRAINT [PK_M_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MA_SP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_CHITIETHOADON]    Script Date: 2/17/2017 5:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_CHITIETHOADON](
	[HOA_DON] [int] NOT NULL,
	[SAN_PHAM] [int] NOT NULL,
	[SO_LUONG] [float] NULL,
	[GIA] [float] NULL,
	[GHI_CHU] [nvarchar](200) NULL,
	[TRANG_THAI] [int] NULL,
 CONSTRAINT [PK_T_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[HOA_DON] ASC,
	[SAN_PHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_HOADON]    Script Date: 2/17/2017 5:19:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_HOADON](
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[NGAY_LAP] [datetime] NULL,
	[GHI_CHU] [nvarchar](200) NULL,
	[TONG_TIEN] [float] NULL,
	[TRANG_THAI] [int] NULL,
	[KHACH_HANG] [int] NULL,
 CONSTRAINT [PK_M_HOADON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
